#ifndef __APP_HPP__
#define __APP_HPP__

#define HOSTNAME "esp32cam01"

#define WIFI_SSID "<your wifi ssid>"
#define WIFI_PASS "<your wifi password>"

#define APP_NAME "ESP32 Camera - Arduino"
#define APP_VERSION "1.0.4"

#endif
